.search-bar {
    display: flex;
    align-items: center;
    border: 2.75px solid rgba(63, 94, 251, 1);
    border-radius: 0.875rem;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0.575rem;
    margin-bottom: 2.575rem;

    .search-icon {
        font-size: 1.275rem;
        color: rgba(63, 94, 251, 1);
        margin-right: 0.575rem;
    }

    .search {
        width: 100%;
        border: none;
        background-color: inherit;
    }

    [placeholder] {
        font-size: 1.275rem;
        font-family: inherit;
        text-transform: capitalize;
    }
}
