/*================== Google Fonts =====================*/

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&family=Nova+Mono&display=swap');

body {
    font-family: 'Lobster Two', cursive;
    line-height: 1.6;
}

li {
    list-style: none;
}

button {
    border: none;
}

input,
textarea {
    outline: none;
}
